CONNECTION_URL = "MongoDB Atlas URL"
PORT = Your server port(ex: 5000, 8080)
JWT_SECRET = Your JWT secret(ex: test, password)
MY_EMAIL = Your Email address
MODZY_API = "Modzy's API key"
APP_ID = "APP ID"
APP_SECRET = "APP Secret"
API_KEY1 = "Komprehend's API key 1"
API_KEY2 = "Komprehend's API key 2"
API_KEY3 = "Komprehend's API key 3"
API_KEY4 = "Komprehend's API key 4"
// 4 Komprehend API keys are required to avoid any request restrictions from the website. 
// Or 
// you can get a paid plan from the website.
USERNAME = "Rapid Mobile's username"
PASSWORD = "Rapid Mobile's password"
WHATSAPP_TOKEN = "Rapid Mobile's whatsapp Token"
